*/.ipynb_checkpoints
pandas/new_excel_file.xlsx
pandas/csfd-90k-reviews-ranlp2013.xml
6_text/majka.w-lt
6_text/czech_stemmer.py
6_text/czech-morfflex-161115.dict
6_text/reuters_text.csv
6_text/csfd-90k-reviews-ranlp2013.xml
6_text/train_for_fasttext.csv
6_text/test_for_fasttext.csv
6_text/for_word_repre.csv
6_text/fasttext_classification_model.bin
6_text/fasttext_classification_model_quantized.bin
6_text/cc.cs.300.vec
6_text/lid.176.bin
6_text/model_unsupervised.bin
6_text/top2vec_nonlem.bin
6_text/top2vec_nonlem_reduc.bin
__pycache__
.pytest_cache
3_machine_learning/train.csv
3_machine_learning/iris_pickle.pkl
3_machine_learning/iris_onnx.onnx
3_machine_learning/houses_onnx.onnx
3_machine_learning/saved_tensor.t
7_python_general/soubor.html
3_machine_learning/e5_onnx_large
4_pyspark/iris.data
4_pyspark/cereal.csv
2_plotting/some_graph.jpg
environment
/9_kolmogorov_arnold_networks/creditcard.csv
/6_text/.env
/6_text/.env_user
/6_text/pomocne_soubory/pretrained_models/model_c4.data-00000-of-00001
/6_text/pomocne_soubory/pretrained_models/model_c4.index
/6_text/pomocne_soubory/pretrained_models/model_qa3.data-00000-of-00001
/6_text/pomocne_soubory/pretrained_models/model_qa3.index
/6_text/source_notebooks/generative_ai_with_llm/W1.pdf
/6_text/source_notebooks/generative_ai_with_llm/W2.pdf
/6_text/source_notebooks/generative_ai_with_llm/W3.pdf
.idea/misc.xml
.idea/modules.xml
.idea/mysakbmPlayground.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
