*/.ipynb_checkpoints
1_pandas/new_excel_file.xlsx
1_pandas/csfd-90k-reviews-ranlp2013.xml
5_natural_language_processing/majka.w-lt
5_natural_language_processing/czech_stemmer.py
5_natural_language_processing/czech-morfflex-161115.dict
5_natural_language_processing/reuters_text.csv
5_natural_language_processing/csfd-90k-reviews-ranlp2013.xml
5_natural_language_processing/train_for_fasttext.csv
5_natural_language_processing/test_for_fasttext.csv
5_natural_language_processing/for_word_repre.csv
5_natural_language_processing/fasttext_classification_model.bin
5_natural_language_processing/fasttext_classification_model_quantized.bin
5_natural_language_processing/cc.cs.300.vec
5_natural_language_processing/lid.176.bin
5_natural_language_processing/model_unsupervised.bin
5_natural_language_processing/top2vec_nonlem.bin
5_natural_language_processing/top2vec_nonlem_reduc.bin
__pycache__
.pytest_cache
3_machine_learning/train.csv
3_machine_learning/iris_pickle.pkl
3_machine_learning/iris_onnx.onnx
3_machine_learning/houses_onnx.onnx
3_machine_learning/saved_tensor.t
8_python_general/soubor.html
3_machine_learning/e5_onnx_large
4_pyspark/iris.data
4_pyspark/cereal.csv
2_plotting/some_graph.jpg
environment
/4_kolmogorov_arnold_networks/creditcard.csv
5_natural_language_processing/.env
5_natural_language_processing/.env_user
5_natural_language_processing/pomocne_soubory/pretrained_models/model_c4.data-00000-of-00001
5_natural_language_processing/pomocne_soubory/pretrained_models/model_c4.index
5_natural_language_processing/pomocne_soubory/pretrained_models/model_qa3.data-00000-of-00001
5_natural_language_processing/pomocne_soubory/pretrained_models/model_qa3.index
5_natural_language_processing/source_notebooks/generative_ai_with_llm/W1.pdf
5_natural_language_processing/source_notebooks/generative_ai_with_llm/W2.pdf
5_natural_language_processing/source_notebooks/generative_ai_with_llm/W3.pdf
.idea/misc.xml
.idea/modules.xml
.idea/mysakbmPlayground.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
15_image_recognition/object_detection/datasets/*
15_image_recognition/object_detection/datasets/*.*
15_image_recognition/object_detection/old_code/stamps_registration/.DS_Store
15_image_recognition/object_detection/old_code/u_net_stamps/.DS_Store
15_image_recognition/object_detection/old_code/.DS_Store
15_image_recognition/object_detection/.DS_Store
15_image_recognition/object_detection/signver_code/*.*
/15_image_recognition/object_detection/signver_code/*.*
