/image_recognition/object_detection/datasets/
/presentace/catboost/.idea/inspectionProfiles/profiles_settings.xml
/presentace/catboost/.idea/inspectionProfiles/Project_Default.xml
/presentace/catboost/.idea/.gitignore
/presentace/catboost/.idea/encodings.xml
/presentace/catboost/.idea/misc.xml
/presentace/catboost/.idea/modules.xml
/presentace/catboost/.idea/other.xml
/presentace/catboost/.idea/Presentace_cat_enc.iml
/presentace/catboost/.idea/rGraphicsSettings.xml
/presentace/catboost/.idea/rSettings.xml
/presentace/categorical_encoders/.idea/inspectionProfiles/profiles_settings.xml
/presentace/categorical_encoders/.idea/inspectionProfiles/Project_Default.xml
/presentace/categorical_encoders/.idea/.gitignore
/presentace/categorical_encoders/.idea/encodings.xml
/presentace/categorical_encoders/.idea/misc.xml
/presentace/categorical_encoders/.idea/modules.xml
/presentace/categorical_encoders/.idea/other.xml
/presentace/categorical_encoders/.idea/Presentace_cat_enc.iml
/presentace/categorical_encoders/.idea/rGraphicsSettings.xml
/presentace/categorical_encoders/.idea/rSettings.xml
/image_recognition/object_detection/.idea/inspectionProfiles/profiles_settings.xml
/image_recognition/object_detection/.idea/inspectionProfiles/Project_Default.xml
/image_recognition/object_detection/.idea/.gitignore
/image_recognition/object_detection/.idea/misc.xml
/image_recognition/object_detection/.idea/modules.xml
/image_recognition/object_detection/.idea/object_detection.iml
/image_recognition/object_detection/yolo/runs/
/hyperoptimization/.ipynb_checkpoints/hyperoptimalizace_parametru-checkpoint.ipynb
